<div class="navbar nav-bar" role="banner">
  <div class="container">
      <nav class="navbar-expand-lg">
          <div class="navbar-header">
              <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText"
                  aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
                  <span class="navbar-toggler-icon"></span>
              </button>
          </div>
          <div class="collapse navbar-collapse" id="navbarText">
              <ul class="navbar-nav mr-auto">
                  <li class="category nav-item dropdown" *ngFor="let c of categories$ | async">
                      <a class="nav-link" href="products/category/{{c.categoryNames}}">
                          {{c.categoryNames}}
                      </a>
                  </li>                  
              </ul>
          </div>
      </nav>
  </div>
</div>