<div class="navbar nav-bar" role="banner">
  <div class="container">
      <nav class="navbar-expand-lg">
          <div class="navbar-header">
              <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText"
                  aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
                  <span class="navbar-toggler-icon"></span>
              </button>
          </div>
          <div class="collapse navbar-collapse" id="navbarText">
              <ul class="navbar-nav mr-auto">
                  <li class="category nav-item dropdown">
                      <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                          aria-haspopup="true" aria-expanded="false">
                          Mobile Phones
                      </a>
                      <div class="category-drop-down dropdown-menu" aria-labelledby="navbarDropdown">
                          <a class="category-drop-down dropdown-item" href="#">HTC</a>
                          <div class="dropdown-divider"></div>
                          <a class="category-drop-down dropdown-item" href="#">Samsung</a>
                          <div class="dropdown-divider"></div>
                          <a class="category-drop-down dropdown-item" href="#">LG</a>
                          <div class="dropdown-divider"></div>
                          <a class="category-drop-down dropdown-item" href="#">Apple</a>                                
                      </div>
                  </li>
                  <li class="category nav-item dropdown">
                      <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                          aria-haspopup="true" aria-expanded="false">
                          Tablets
                      </a>
                      <div class="category-drop-down dropdown-menu" aria-labelledby="navbarDropdown">
                          <a class="category-drop-down dropdown-item" href="#">Apple</a>
                          <div class="dropdown-divider"></div>
                          <a class="category-drop-down dropdown-item" href="#">Samsung</a>
                          <div class="dropdown-divider"></div>
                          <a class="category-drop-down dropdown-item" href="#">Amazon Fire</a>
                      </div>
                  </li>
                  <li class="category nav-item dropdown">
                      <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                          aria-haspopup="true" aria-expanded="false">
                          Laptops
                      </a>
                      <div class="category-drop-down dropdown-menu" aria-labelledby="navbarDropdown">
                          <a class="category-drop-down dropdown-item" href="#">Apple</a>
                          <div class="dropdown-divider"></div>
                          <a class="category-drop-down dropdown-item" href="#">HP</a>
                          <div class="dropdown-divider"></div>
                          <a class="category-drop-down dropdown-item" href="#">Dell</a>
                      </div>
                  </li>
                  <li class="category nav-item dropdown">
                      <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                          aria-haspopup="true" aria-expanded="false">
                          Gaming
                      </a>
                      <div class="category-drop-down dropdown-menu" aria-labelledby="navbarDropdown">
                          <a class="category-drop-down dropdown-item" href="#">Play Station</a>
                          <div class="dropdown-divider"></div>
                          <a class="category-drop-down dropdown-item" href="#">XBox</a>
                          <div class="dropdown-divider"></div>
                          <a class="category-drop-down dropdown-item" href="#">Nintendo</a>
                      </div>
                  </li>
                  <li class="category nav-item dropdown">
                      <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                          aria-haspopup="true" aria-expanded="false">
                          Cameras
                      </a>
                      <div class="category-drop-down dropdown-menu" aria-labelledby="navbarDropdown">
                          <a class="category-drop-down dropdown-item" href="#">Nikon</a>
                          <div class="dropdown-divider"></div>
                          <a class="category-drop-down dropdown-item" href="#">Cannon</a>
                          <div class="dropdown-divider"></div>
                          <a class="category-drop-down dropdown-item" href="#">Panasonic</a>
                      </div>
                  </li>
              </ul>
          </div>
      </nav>
  </div>
</div>