<div class="items">
		<div class="container">
			<div class="row">
				<div class="col-md-12">

					<!-- Breadcrumb -->
					<nav class="breadcrumb-category" aria-label="breadcrumb">
						<ol class="breadcrumb">
							<li class="breadcrumb-item"><a href="#">Home</a></li>
							<li class="breadcrumb-item active" aria-current="page">Mobile Phones</li>
						</ol>
					</nav>

					<!-- Title -->
					<h4 class="category-title float-left">Mobile Phones</h4>

					<!-- Sorting -->
					<div class="form-group float-right">
						<select class="form-control">
							<option>Sort By</option>
							<option>Name (A-Z)</option>
							<option>Name (Z-A></option>
							<option>Price (Low-High)</option>
							<option>Price (High-Low)</option>
							<option>Ratings</option>
						</select>
					</div>

          <div class="clearfix"></div>          		

					<div class="row">
						<!-- Item #1 -->
						<div class="col-md-3 col-sm-4">
							<div class="item">
								<a href="/product-page"><img class="item-image" src="../../assets/photos/2.png" alt="" /></a>
                <h6><a href="/product-page">HTC One V</a></h6>
                <hr/>																
								<div class="item-price float-left">$360</div>
								<button class="btn float-right">Add to Cart</button>
							</div>
						</div>

						<div class="col-md-3 col-sm-4">
							<div class="item">
								<a href="/product-page"><img class="item-image" src="../../assets/photos/3.png" alt="" /></a>
                <h6><a href="/product-page">Dell One V</a></h6>
                <hr/>																
								<div class="item-price float-left">$360</div>
								<button class="btn float-right">Add to Cart</button>
							</div>
						</div>

						<div class="col-md-3 col-sm-4">
							<div class="item">
								<a href="/product-page"><img class="item-image" src="../../assets/photos/4.png" alt="" /></a>
                <h6><a href="/product-page">Cannon One V</a></h6>
                <hr/>																
								<div class="item-price float-left">$360</div>
								<button class="btn float-right">Add to Cart</button>
							</div>
						</div>

						<div class="col-md-3 col-sm-4">
							<div class="item">
								<a href="/product-page"><img class="item-image" src="../../assets/photos/5.png" alt="" /></a>
                <h6><a href="/product-page">Apple One V</a></h6>
                <hr/>																
								<div class="item-price float-left">$360</div>
								<button class="btn float-right">Add to Cart</button>
							</div>
						</div>

						<div class="col-md-3 col-sm-4">
							<div class="item">
								<a href="/product-page"><img class="item-image" src="../../assets/photos/6.png" alt="" /></a>
                <h6><a href="/product-page">Samsung One V</a></h6>
                <hr/>																
								<div class="item-price float-left">$360</div>
								<button class="btn float-right">Add to Cart</button>
							</div>
						</div>

						<div class="col-md-3 col-sm-4">
							<div class="item">
								<a href="/product-page"><img class="item-image" src="../../assets/photos/7.png" alt="" /></a>
                <h6><a href="/product-page">Micromax One V</a></h6>
                <hr/>																
								<div class="item-price float-left">$360</div>
								<button class="btn float-right">Add to Cart</button>
							</div>
						</div>

						<div class="col-md-3 col-sm-4">
							<div class="item">
								<a href="/product-page"><img class="item-image" src="../../assets/photos/8.png" alt="" /></a>
                <h6><a href="/product-page">Nokia One V</a></h6>
                <hr/>																
								<div class="item-price float-left">$360</div>
								<button class="btn float-right">Add to Cart</button>
							</div>
						</div>

						<div class="col-md-3 col-sm-4">
							<div class="item">
								<a href="/product-page"><img class="item-image" src="../../assets/photos/9.png" alt="" /></a>
                <h6><a href="/product-page">Sony One V</a></h6>
                <hr/>																
								<div class="item-price float-left">$360</div>
								<button class="btn float-right">Add to Cart</button>
							</div>
						</div>

						<div class="col-md-3 col-sm-4">
							<div class="item">
								<a href="/product-page"><img class="item-image" src="../../assets/photos/3.png" alt="" /></a>
                <h6><a href="/product-page">Dell One V</a></h6>
                <hr/>																
								<div class="item-price float-left">$360</div>
								<button class="btn float-right">Add to Cart</button>
							</div>
						</div>

						<div class="col-md-3 col-sm-4">
							<div class="item">
								<a href="/product-page"><img class="item-image" src="../../assets/photos/4.png" alt="" /></a>
                <h6><a href="/product-page">Cannon One V</a></h6>
                <hr/>																
								<div class="item-price float-left">$360</div>
								<button class="btn float-right">Add to Cart</button>
							</div>
						</div>

						<div class="col-md-3 col-sm-4">
							<div class="item">
								<a href="/product-page"><img class="item-image" src="../../assets/photos/7.png" alt="" /></a>
                <h6><a href="/product-page">Micromax One V</a></h6>
                <hr/>																
								<div class="item-price float-left">$360</div>
								<button class="btn float-right">Add to Cart</button>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>