<!-- Items -->
<div class="items">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h3 class="title">Popular Deals</h3>                
            </div>
            <!-- Item #1 -->
            <div class="col-md-3 col-sm-4" *ngFor="let p of $products | async">
                <div class="item">
                    <a href="/product-page?sku={{p.sku}}"><img class="item-image" src="{{p.imageUrl}}" alt="" /></a>
                    <h6><a href="/product-page?sku={{p.sku}}">{{p.productName}}</a></h6>
                    <hr />
                    <div class="item-price float-left">${{p.price}}</div>
                    <button class="btn float-right">Add to Cart</button>
                </div>
            </div>
        </div>
    </div>
</div>
<!--/ Items end -->