<!-- Items -->
<div class="items">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h3 class="title">Popular Deals</h3>                
            </div>
            <!-- Item #1 -->
            <div class="col-md-3 col-sm-4">
                <div class="item">
                    <a href="/products"><img class="item-image" src="../../assets/photos/2.png" alt="" /></a>
                    <h6><a href="/products">HTC One V</a></h6>
                    <hr />
                    <div class="item-price float-left">$360</div>
                    <button class="btn float-right">Add to Cart</button>
                </div>
            </div>

            <div class="col-md-3 col-sm-4">
                <div class="item">
                    <a href="/products"><img class="item-image" src="../../assets/photos/3.png" alt="" /></a>
                    <h6><a href="/products">Dell One V</a></h6>
                    <hr />
                    <div class="item-price float-left">$360</div>
                    <button class="btn float-right">Add to Cart</button>
                </div>
            </div>

            <div class="col-md-3 col-sm-4">
                <div class="item">
                    <a href="/products"><img class="item-image" src="../../assets/photos/4.png" alt="" /></a>
                    <h6><a href="/products">Cannon One V</a></h6>
                    <hr />
                    <div class="item-price float-left">$360</div>
                    <button class="btn float-right">Add to Cart</button>
                </div>
            </div>

            <div class="col-md-3 col-sm-4">
                <div class="item">
                    <a href="/products"><img class="item-image" src="../../assets/photos/5.png" alt="" /></a>
                    <h6><a href="/products">Apple One V</a></h6>
                    <hr />
                    <div class="item-price float-left">$360</div>
                    <button class="btn float-right">Add to Cart</button>
                </div>
            </div>

            <div class="col-md-3 col-sm-4">
                <div class="item">
                    <a href="/products"><img class="item-image" src="../../assets/photos/6.png" alt="" /></a>
                    <h6><a href="/products">Samsung One V</a></h6>
                    <hr />
                    <div class="item-price float-left">$360</div>
                    <button class="btn float-right">Add to Cart</button>
                </div>
            </div>

            <div class="col-md-3 col-sm-4">
                <div class="item">
                    <a href="/products"><img class="item-image" src="../../assets/photos/7.png" alt="" /></a>
                    <h6><a href="/products">Micromax One V</a></h6>
                    <hr />
                    <div class="item-price float-left">$360</div>
                    <button class="btn float-right">Add to Cart</button>
                </div>
            </div>

            <div class="col-md-3 col-sm-4">
                <div class="item">
                    <a href="/products"><img class="item-image" src="../../assets/photos/8.png" alt="" /></a>
                    <h6><a href="/products">Nokia One V</a></h6>
                    <hr />
                    <div class="item-price float-left">$360</div>
                    <button class="btn float-right">Add to Cart</button>
                </div>
            </div>

            <div class="col-md-3 col-sm-4">
                <div class="item">
                    <a href="/products"><img class="item-image" src="../../assets/photos/9.png" alt="" /></a>
                    <h6><a href="/products">Sony One V</a></h6>
                    <hr />
                    <div class="item-price float-left">$360</div>
                    <button class="btn float-right">Add to Cart</button>
                </div>
            </div>

            <div class="col-md-3 col-sm-4">
                <div class="item">
                    <a href="/products"><img class="item-image" src="../../assets/photos/3.png" alt="" /></a>
                    <h6><a href="/products">Dell One V</a></h6>
                    <hr />
                    <div class="item-price float-left">$360</div>
                    <button class="btn float-right">Add to Cart</button>
                </div>
            </div>

            <div class="col-md-3 col-sm-4">
                <div class="item">
                    <a href="/products"><img class="item-image" src="../../assets/photos/4.png" alt="" /></a>
                    <h6><a href="/products">Cannon One V</a></h6>
                    <hr />
                    <div class="item-price float-left">$360</div>
                    <button class="btn float-right">Add to Cart</button>
                </div>
            </div>

            <div class="col-md-3 col-sm-4">
                <div class="item">
                    <a href="/products"><img class="item-image" src="../../assets/photos/7.png" alt="" /></a>
                    <h6><a href="/products">Micromax One V</a></h6>
                    <hr />
                    <div class="item-price float-left">$360</div>
                    <button class="btn float-right">Add to Cart</button>
                </div>
            </div>

            <div class="col-md-3 col-sm-4">
                <div class="item">
                    <a href="/products"><img class="item-image" src="../../assets/photos/8.png" alt="" /></a>
                    <h6><a href="/products">Nokia One V</a></h6>
                    <hr />
                    <div class="item-price float-left">$360</div>
                    <button class="btn float-right">Add to Cart</button>
                </div>
            </div>

            <div class="col-md-3 col-sm-4">
                <div class="item">
                    <a href="/products"><img class="item-image" src="../../assets/photos/3.png" alt="" /></a>
                    <h6><a href="/products">Dell One V</a></h6>
                    <hr />
                    <div class="item-price float-left">$360</div>
                    <button class="btn float-right">Add to Cart</button>
                </div>
            </div>

            <div class="col-md-3 col-sm-4">
                <div class="item">
                    <a href="/products"><img class="item-image" src="../../assets/photos/4.png" alt="" /></a>
                    <h6><a href="/products">Cannon One V</a></h6>
                    <hr />
                    <div class="item-price float-left">$360</div>
                    <button class="btn float-right">Add to Cart</button>
                </div>
            </div>

            <div class="col-md-3 col-sm-4">
                <div class="item">
                    <a href="/products"><img class="item-image" src="../../assets/photos/7.png" alt="" /></a>
                    <h6><a href="/products">Micromax One V</a></h6>
                    <hr />
                    <div class="item-price float-left">$360</div>
                    <button class="btn float-right">Add to Cart</button>
                </div>
            </div>

            <div class="col-md-3 col-sm-4">
                <div class="item">
                    <a href="/products"><img class="item-image" src="../../assets/photos/8.png" alt="" /></a>
                    <h6><a href="/products">Nokia One V</a></h6>
                    <hr />
                    <div class="item-price float-left">$360</div>
                    <button class="btn float-right">Add to Cart</button>
                </div>
            </div>
        </div>
    </div>
</div>
<!--/ Items end -->